{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("jquery", "1");
</script>
<script type="text/javascript" src="{% url media "js/highcharts.js" %}"></script>

<script type="text/javascript">
function create_chart(data) {
  var last;
  var start = null;
  for (var i in data) {
    // For new Date(float) the unit is in milliseconds instead of seconds.
    data[i].x = data[i].timestamp * 1000;
    data[i].y = data[i].count;
    data[i].name = new Date(data[i].x);
    if (!start) {
      start = data[i].x;
    }
    last = data[i].x;
  }
  // Create the chart.
  Highcharts.Chart({
    credits: {text: "crew", href: "."},
    chart: {
      // the id of the div element for drawing the graph.
      renderTo: "graph",
      // The type of the graph.
      defaultSeriesType: "line"
    },
    // The title.
    title: {text: ""},
    // The list of "series" (a line you see on the graph).
    series: [{
      name: "Blah",
      data: data
    }],
    xAxis: {
      labels: {
        enabled: true,
        formatter: function() {
          // The formatting function for the x-axis.
          var x = new Date(this.value);
          // TODO FIXME
          return "" + x.getHours() + ":" + x.getMinutes() + ":"
            + x.getSeconds();
        }
      }
    },
    plotOptions: {
      line: {
        pointStart: start,
      }
    }
  });
}

$(document).ready(function() {
  // TODO Make the namespace selectable.
  var ns = "ns";
  // TODO get the start/end times from a form.
  var start = 1290279991.611155;
  var end = 1290289991.611155;
  $("#fetch").click(function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url json-view %}",
      success: create_chart,
      data: {
        'ns': ns,
        'start': start,
        'end': end,
      }
    });
  });
});
</script>

{% endblock %}

{% block content %}

<a id="fetch" href="#">fetch</a>

<div id="graph"></div>

{% endblock %}
