{% extends "base.html" %}
{% block title %}View{% endblock %}

{% block styles %}
  <link href="{% url media "css/datepicker.css" %}" rel="stylesheet" type="text/css">
{% endblock%}


{% block header %}Views{% endblock %}

{% block content %}
  <p>Select a starting time and ending time and hit fetch to load a graph with the windows computers lab usage.</p>
  <br>
  <input id="start" type="text">
  <input id="end" type="text">
  <button id="reload" type="checkbox" style="border:0; color:#AEAEAE; background: none;">Reloading...</button>
  <br><br>
  <button id="fetch" type="button" class="css3button">Fetch</button>
  <br><br>
  <div id="graph"></div>
  <br><br>
{% endblock %}

{% block scripts-body %}
  <script type="text/javascript" src="{% url media "js/highcharts.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/view.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/themes/gray.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/modules/exporting.js" %}"></script>
  <script>labMetrics.run("{% url json-view %}")</script>
{% endblock %}


{% block footer %}
<a href="http://crew.ccs.neu.edu/">Crew</a>
<a href="http://crew.ccs.neu.edu/docs/metrics/api/">Lab Metrics API</a>
<a href="http://www.highcharts.com/ref/">Highcharts Reference</a>
{% endblock %}
