{% extends "base.html" %}
{% block title %}Lab Metrics - Windows Usage Data{% endblock %}

{% block styles %}
  <link href="{% url media "css/datepicker.css" %}" rel="stylesheet" type="text/css">
{% endblock%}


{% block header %}Lab Metrics - Windows Machine Usage{% endblock %}

{% block content %}
  <p>Select a start time and end time and hit &quot;fetch&quot; to load a graph with the Windows computer lab usage data.</p>
  <p>Auto reloads <dfn title="Data from 24 hours ago to now">daily data</dfn> every 10 minutes.</p>
  <br>
  <input id="start" type="text">
  <input id="end" type="text">
  <br><br>
  <button id="fetch" type="button" class="css3button">Fetch</button>
  <button id="reload" type="checkbox" class="css3button" style="color: #000; margin-left: 10px; padding: 5px 10px; border: 1px solid #000; font-weight: bold; background: none;">Auto Reloading ON.</button>
  <br><br>
  <div id="graph"></div>
  <br>
{% endblock %}

{% block scripts-body %}
  <script type="text/javascript" src="{% url media "js/highcharts.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/labmetrics.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/windows.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/themes/gray.js" %}"></script>
  <script type="text/javascript" src="{% url media "js/modules/exporting.js" %}"></script>
  <script>labMetrics.run("{% url json-windows-machines-data %}")</script>
{% endblock %}


{% block footer %}
<a href="http://crew.ccs.neu.edu/">Crew</a>
<a href="http://crew.ccs.neu.edu/docs/metrics/api/">Lab Metrics API</a>
<a href="http://www.highcharts.com/ref/">Highcharts Reference</a>
{% endblock %}
